<main class="container">
    <h2>Empréstimo</h2>
    <a (click)="novo()" class="btn btn-primary">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Instrumento</th>
                <th>Data Inicio</th>
                <th>Data Fim</th>
                <th>Alterações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umEmprestimo of listaEmprestimo">
                <td>{{umEmprestimo.aluno?.nome}}</td>
                <td>{{umEmprestimo.instrumento?.nome}}</td>
                <td>{{umEmprestimo.dataInicio | date:'dd/MM/yyyy'}}</td>
                <td>{{umEmprestimo.dataFim | date:'dd/MM/yyyy'}}</td>
                <td><a (click)="alterar(umEmprestimo)" 
                        class="btn btn-secondary">Alterar</a>
                    &nbsp;
                    <a (click)="abrirConfirmacao(umEmprestimo)" 
                        class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        </tbody>

    </table>
</main>

<div class="modal fade" #myModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir empréstimo</h5>
            </div>
            <div class="modal-body">
            Confirma a exclusão do empréstimo?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
            </div>
        </div>
    </div>
</div>