<main class="container">
    <h2>Empréstimo</h2>
    <div class="card">
        <div class="card-body">

            <div class="form-group">
                <label for="txtAluno">Aluno</label>
                <select id="txtAluno" [(ngModel)]="emprestimo.aluno" class="form-select" [compareWith]="comparaAlunos">
                    <option *ngFor="let umAluno of listaAluno" [ngValue]="umAluno">{{ umAluno.nome }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="txtInstrumento">Instrumento</label>
                <select id="txtInstrumento" [(ngModel)]="emprestimo.instrumento" class="form-select" [compareWith]="comparaInstrumentos">
                    <option *ngFor="let umInstrumento of listaInstrumento" [ngValue]="umInstrumento">{{ umInstrumento.nome }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="txtDataInicio">Data Inicio</label>
                <input type="date" [(ngModel)]="emprestimo.dataInicio" 
                class="form-control" id="txtDataInicio">
            </div>

            <div class="form-group">
                <label for="txtDataFim">Data Fim</label>
                <input type="date" [(ngModel)]="emprestimo.dataFim" 
                class="form-control" id="txtDataFim">
            </div> 

        <button (click)="salvar()"
            class="btn btn-primary">Salvar</button>

    </div>
</div>

</main>   